<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you from Articles hub team, <%= @user.name %></h1>
    <p>
      You liked a comment in a Article titled as <u><%= @article.title %></u> and written by <%= @article.user.name %>.<br>
    </p>
    <p>Thanks for your interesting on our site and have a great day!</p>
  </body>
</html>