<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you from Articles hub team</h1>
    <p>
      Your comment in a Article <u><%= @article.title %></u> is liked by <%= @user.name %>.<br>
    </p>
    <!-- <p>Thanks for your interesting on our site and have a great day!</p> -->
  </body>
</html>