<div class="container">
	<h1>Create Article  <%= link_to "Back", articles_path, class: "btn btn-success pull-right" %></h1><hr/>
	<div class="col-md-8 col-md-offset-2">
		<%= render "form" %>
	</div>	
</div>

